@media screen and (max-width: 1240px) {
    .container {
        width: 968px;
    }
    .form-block__title,
    .revievs-title,
    .main-title,
    .video-title,
    .reasons-title,
    .slider-wrapper__title {
        font-size: 40px;
    }
    .logo {
        width: 180px;
    }
    .main-slide-container {
        right: 0;
        bottom: 10%;
    }
    .main-list {
        width: 500px;
    }
    .main-list__text::before {
        width: 70px;
        height: 70px;
    }
    .main-list__text {
        padding-left: 90px;
    }
    .main-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .reasons {
        height: 1100px;
    }
    .reasons-list__title {
        font-size: 18px;
        padding: 0 30px;
    }
    .roombox-title {
        width: 720px;
    }
    .roombox-list__title {
        font-size: 16px;
    }
    .roombox-list__icon {
        width: 110px;
        height: 100px;
        margin-right: 20px;
    }
    .video-iframe {
        height: 25rem;
    }
    .btn {
        font-size: 12px;
    }
}
@media screen and (max-width: 998px) {
    .container {
        width: 720px;
    }
    .form-block__title,
    .revievs-title,
    .main-title,
    .video-title,
    .reasons-title,
    .slider-wrapper__title {
        font-size: 30px;
    }
    .main-wrapper {
        height: 720px;
    }
    .video-hend,
    .header-text,
    .header-time-work {
        display: none;
    }
    .main-slide-container {
        bottom: 20%;
    }
    .main-list {
        width: 450px;
        flex-direction: column;
        padding: 40px 0;
    }
    .main-list__text {
        width: 100%;
        margin-bottom: 80px;
        box-sizing: border-box;
    }
    .main-list__text:last-child {
        margin-bottom: 0;
    }
    .main-price {
        display: flex;
        align-items: center;
    }
    .main-price__text {
        margin-right: 20px;
    }
    .video-block {
        width: 720px;
        height: 340px;
    }
    .video-title {
        margin-bottom: 40px;
    }
    .video-link a {
        width: 120px;
        height: 120px;
    }
    .set-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .set-list li  {
        width: 45%;
        margin-bottom: 40px;
    }
    .reasons {
        height: 1700px;
    }
    .reasons-title {
        padding: 0 100px;
    }
    .reasons-list {
        flex-direction: column;
        align-items: center;
    }
    .reasons-list li {
        width: 90%;
        margin-bottom: 60px;
    }
    .reasons-list__title {
        font-size: 24px;
    }
    .reasons-list__text {
        font-size: 18px;
    }
    .row-directions {
        flex-direction: column;
    }
    .revievs-title {
        margin-bottom: 40px;
    }
    .revievs-list {
        flex-direction: column;
    }
    .revievs-list li {
        width: 100%;
        margin-bottom: 40px;
    }
    .revievs-list__img img {
        height: auto;
    }
    .roombox-title {
        width: 300px;
    }
    .roombox-list {
        flex-direction: column;
        align-items: center;
    }
    .roombox-list li {
        width: 90%;
        margin-bottom: 80px;
    }
    .roombox-list__title {
        font-size: 20px;
    
    }
    .form-block {
        padding: 40px 0;
    }
    .form-block__des {
        padding-right: 200px;
        font-size: 16px;
    }
    .input {
        padding: 20px 25px;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-links,
    .footer-contacts,
    .footer-phone,
    .footer-block .logo {
        margin-bottom: 20px;
    }
    .footer-contacts p,
    .footer-contacts a {
        text-align: center;
    }
    .footer-documents {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 90%; 
    }
    .header-phone::after,
    .header-phone::before,
    .header-links {
        display: none;
    }
    .logo {
        width: 140px;
    }
    .header-phone__item {
        white-space: nowrap;
        font-size: 16px;
    }
    .header-phone {
        padding-left: 0;
    }
    .main-wrapper {
        background-position: 10% 0%;
        background-size: cover;
        height: auto;
        margin-bottom: 0;
        padding-bottom: 160px;
    }
    .main {
        text-align: center;
    }
    .video-block {
        width: 100%;
    }
    .main-title {
        padding: 20px 0 40px 0;
    }
    .main-slide-container  {
        position: static;
        width: 100%;
        margin-bottom: 40px;
    }
    .main-slide__item {
        padding-top: 40px;
    }
    .discount {
        width: 120px;
        height: 120px;
    }
    .discount-text {
        font-size: 16px;
    }
    .discount-Ñ‚umber {
        font-size: 28px;
    }
    .discount-item {
        left: 14px;
        top: 48px;
        font-size: 16px;
        left: 14px;
    }
    .main-list {
        width: 100%;
    }
    .main-list__text {
        text-align: left;
    }
    .main-price {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .main-container__btn {
        width: 100%;
    }
    .main-btn {
        white-space: nowrap;
        font-size: 12px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .video-block {
        height: 180px;
    }
    .video-link a  {
        width: 80px;
        height: 80px;
    }
    .video-block__text {
        font-size: 14px;
    }
    .video {
        margin-bottom: 80px;
    }
    .set-title {
        font-size: 20px;
    }
    .reasons-list li,
    .set-list li {
        width: 100%;
    }
    .reasons {
        height: 1550px;
    }
    .reasons-title {
        padding: 0;
    }
    .reasons-list__title {
        font-size: 18px;
        height: auto;
    }
    .reasons-list__text {
        font-size: 16px;
    }
    .revievs-title {
        padding: 120px 0 0 0;
    }
    .revievs-wrapper {
        margin-bottom: 60px;
    }
    .roombox-list__title {
        font-size: 18px;
    }
    .roombox-list__icon {
        width: 100px;
        height: 100px;    
    }
    .roombox-list li {
        margin-bottom: 40px;
    }
    .form-wrapper {
        background-position: 0% 0%;
    }
    .form-block {
        text-align: center;
    }
    .form-block__title {
        padding: 20px 0;
        text-align: center;
    }
    .form-block__des {
        text-align: center;
        padding: 10px 0 20px 0;
        font-size: 18px;
    }
    .form {
        width: 100%;
    }
    .form-btn {
        font-size: 14px;
        white-space: nowrap;
    }
    .popup {
        width: 85%;
        padding: 20px;
    }
    .modal {
        width: 80%;
    }
    .footer-links li:last-child {
        margin-right: 0;
    }
    .video-iframe {
        height: 15rem;
    }

}
@media screen and (max-width: 360px) {
    .header-phone__item {
        font-size: 14px;
    }
    .main-text {
        font-size: 12px;
    }
    .main-list__text {
        font-size: 14px;
    }
    .video-link a {
        width: 60px;
        height: 60px;
    }
    .roombox-title {
        width: 260px;
    }
    .video-block {
        height: 140px;
    }
    .video-block__text {
        font-size: 10px;
    }
    .reasons {
        height: 1620px;
    }
    .roombox-list__title {
        font-size: 14px;
    }
    .roombox-list li {
        width: 100%;
    }
    .roombox-list__icon {
        width: 70px;
        height: 70px;
    }
    .popup-name {
        font-size: 12px;
    }
    .popup-text {
        font-size: 12px;
        padding: 0 15px 15px ;
    }
}


