@media screen and (max-width: 1240px) {
    .container {
        width: 968px;
    }
    .form-block__title,
    .revievs-title,
    .main-title,
    .video-title,
    .reasons-title,
    .slider-wrapper__title {
        font-size: 40px;
    }
    .slider-wrapper__title {
        padding: 0 100px;
    }
    .logo {
        width: 180px;
    }
    .main-list {
        width: 500px;
    }
    .main-list__text::before {
        width: 70px;
        height: 70px;
    }
    .main-list__text {
        padding-left: 90px;
    }
    .reasons {
        height: 1100px;
    }
    .reasons-list__title {
        font-size: 18px;
        padding: 0 30px;
    }
    .slider-wrapper .sale-2,
    .slider-wrapper .sale {
        left: 10px;
        top: 20px;
    }
    .slider-wrapper .product {
        padding: 0 0 10px 0;
    }
    .slider-wrapper .product .image,
    .slider-wrapper .product .content {
        width: 48%;
    }
    .slider-wrapper .images {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .slider-wrapper .thumbnail {
        padding: 10px 0 0 0;
    }
    .slider-wrapper .product .content h3 {
        font-size: 22px;
    }
    .text {
        margin-bottom: 0;
    }
    .block {
        flex-direction: column;
    }
    .btn {
        white-space: nowrap;
        height: 80px;
        letter-spacing: 0;
        line-height: 1;
    }
    .roombox-title {
        width: 720px;
    }
    .roombox-list__title {
        font-size: 16px;
    }
    .roombox-list__icon {
        width: 110px;
        height: 100px;
        margin-right: 20px;
    }
    .video-iframe {
        height: 25rem;
    }
}
@media screen and (max-width: 998px) {
    .container {
        width: 720px;
    }
    .form-block__title,
    .revievs-title,
    .main-title,
    .video-title,
    .reasons-title,
    .slider-wrapper__title {
        font-size: 30px;
    }
    .main-wrapper {
        height: 720px;
    }
    .video-hend,
    .header-text,
    .header-time-work {
        display: none;
    }
    .main-list {
        width: 450px;
        flex-direction: column;
        padding: 40px 0;
    }
    .main-list__text {
        width: 100%;
        margin-bottom: 80px;
        box-sizing: border-box;
    }
    .main-list__text:last-child {
        margin-bottom: 0;
    }
    .main-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .main-price {
        display: flex;
        align-items: center;
    }
    .main-price__text {
        margin-right: 20px;
    }
    .video-block {
        width: 720px;
        height: 340px;
    }
    .video-title {
        margin-bottom: 40px;
    }
    .video-link a {
        width: 120px;
        height: 120px;
    }
    .set-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .set-list li  {
        width: 45%;
        margin-bottom: 40px;
    }
    .reasons {
        height: 1700px;
    }
    .reasons-title {
        padding: 0 100px;
    }
    .reasons-list {
        flex-direction: column;
        align-items: center;
    }
    .reasons-list li {
        width: 90%;
        margin-bottom: 60px;
    }
    .reasons-list__title {
        font-size: 24px;
    }
    .reasons-list__text {
        font-size: 18px;
    }
    .row-directions {
        flex-direction: column;
    }
    .slider-wrapper .product .image,
    .slider-wrapper .product .content {
        width: 100%;
    }
    .slider-wrapper .images,
    .slider-wrapper .item-image {
        height: 380px;
    }
    .slider-wrapper .thumbnail {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .slider-wrapper .product .content h3 {
        font-size: 28px;
    }
    .slider-wrapper .product .info .item-1 {
        width: 46%;
        font-size: 14px;
    }
    .slider-wrapper .owl-prev {
        left: -20px;
    }
    .slider-wrapper .owl-next {
        right: -20px;
    }
    .block {
        flex-direction: row;
        align-items: flex-start;
    }
    .revievs-title {
        margin-bottom: 40px;
    }
    .revievs-list {
        flex-direction: column;
    }
    .revievs-list li {
        width: 100%;
        margin-bottom: 40px;
    }
    .revievs-list__img img {
        height: auto;
    }
    .roombox-title {
        width: 300px;
    }
    .roombox-list {
        flex-direction: column;
        align-items: center;
    }
    .roombox-list li {
        width: 90%;
        margin-bottom: 80px;
    }
    .roombox-list__title {
        font-size: 20px;
    
    }
    .form-block {
        padding: 40px 0;
    }
    .form-block__des {
        padding-right: 200px;
        font-size: 16px;
    }
    .input {
        padding: 20px 25px;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-links,
    .footer-contacts,
    .footer-phone,
    .footer-block .logo {
        margin-bottom: 20px;
    }
    .footer-contacts p,
    .footer-contacts a {
        text-align: center;
    }
    .footer-documents {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 90%; 
    }
    .discount,
    .header-phone::after,
    .header-phone::before,
    .header-links {
        display: none;
    }
    .logo {
        width: 140px;
    }
    .header-phone__item {
        white-space: nowrap;
        font-size: 16px;
    }
    .header-phone {
        padding-left: 0;
    }
    .main-wrapper {
        background-position: 10% 0%;
        background-size: cover;
        height: auto;
        margin-bottom: 0;
        padding-bottom: 160px;
    }
    .main {
        text-align: center;
    }
    .video-block {
        width: 100%;
    }
    .main-title {
        padding: 20px 0 60px 0;
    }
    .main-img {
        display: block;
        width: 112%;
        transform: translateX(-6%);
    }
    .main-img img {
        display: block;
        width: 100%;
    }
    .discount-mobil {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        color: #ffffff;
        top: 0;
        right: 0;
        transform: translateY(-40%);
        width: 160px;
        height: 160px;
        background-image: url(../img/main/discount.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .main-list {
        width: 100%;
    }
    .main-list__text {
        text-align: left;
    }
    .main-price {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .main-container__btn {
        width: 100%;
    }
    .main-btn {
        white-space: nowrap;
        font-size: 12px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .video-block {
        height: 180px;
    }
    .video-link a  {
        width: 80px;
        height: 80px;
    }
    .video-block__text {
        font-size: 14px;
    }
    .video {
        margin-bottom: 80px;
    }
    .set-title {
        font-size: 20px;
    }
    .reasons-list li,
    .set-list li {
        width: 100%;
    }
    .reasons {
        height: 1550px;
    }
    .reasons-title {
        padding: 0;
    }
    .reasons-list__title {
        font-size: 18px;
        height: auto;
    }
    .reasons-list__text {
        font-size: 16px;
    }
    .slider-wrapper__title {
        padding: 0;
        font-size: 26px;
        margin-bottom: 40px;
    }
    .slider-wrapper .images,
    .slider-wrapper .item-image {
        height: 300px;
    }
    .slider-wrapper .thumbnail {
        width: 100%;
        margin: 0 auto;
    }
    .slider-wrapper .product .image {
        height: auto;
    }
    .slider-wrapper .product .content h3 {
        font-size: 22px;
        text-align: center;
    }
    .slider-wrapper .product .info .item-1 {
        width: 40%;
        padding: 0;
        font-size: 12px;
    }
    .slider-wrapper .product .info .item-2 {
        width: 50%;
    }
    .slider-wrapper .owl-nav div {
        top: 130px;
    }
    .slider-wrapper .owl-prev {
        left: -16px;
    }
    .slider-wrapper .owl-next {
        right: -16px;
    }
    .price-directions {
        flex-direction: column;
        align-items: center;
    }
    .text {
        text-align: center;
        margin-bottom: 14px;
    }
    .block {
        justify-content: center;
        margin-bottom: 20px;
    }
    .slider-wrapper .btn {
        margin: 0;
        margin-bottom: 20px;
    }
    .revievs-title {
        padding: 120px 0 0 0;
    }
    .revievs-wrapper {
        margin-bottom: 60px;
    }
    .roombox-list__title {
        font-size: 18px;
    }
    .roombox-list__icon {
        width: 100px;
        height: 100px;    
    }
    .roombox-list li {
        margin-bottom: 40px;
    }
    .form-wrapper {
        background-position: 0% 0%;
    }
    .form-block {
        text-align: center;
    }
    .form-block__title {
        padding: 20px 0;
        text-align: center;
    }
    .form-block__des {
        text-align: center;
        padding: 10px 0 20px 0;
        font-size: 18px;
    }
    .form {
        width: 100%;
    }
    .form-btn {
        font-size: 14px;
        white-space: nowrap;
    }
    .popup {
        width: 85%;
        padding: 20px;
    }
    .modal {
        width: 80%;
    }
    .video-iframe {
        height: 15rem;
    }

}

